PRIVATE_KEY="(Your Ethereum Wallet Private Key. The Ethereum account associated with PRIVATE_KEY needs to have enough funds to cover gas costs, which can be high.)"
FLASH_LOANER="(The Address of your already Deployed FlashLoans S.C. Make sure PRIVATE_KEY is the same that deployed the FLASH_LOANER contract.)"
INFURA_KEY="(Your Infura ETHv1-MainNet Node A.P.I. Key)"